%li
  %fieldset.snippet
    %legend
      = snippet.title
      = l(snippet.created_at,:format => :snippet_created_at)
    %span.col1
      = render :partial => "user", :locals => {:user => snippet.user}
    %span.col2
      %pre{:class => "brush: #{snippet.language.downcase}; toolbar: false;"}
        = snippet.source
      - if user_signed_in? && snippet.owned_by_current_user(current_user)
        %p.buttons
          = link_to(t(:snippet_edit_text), edit_snippet_path(snippet))
          = link_to(t(:snippet_delete_text), snippet, :confirm => t(:snippet_delete_confirmation), :method => :delete)
      %span.tagMatches
        = render :partial=>"tags/tag", :collection=> snippet.tags
